$qr-scale: 14px;
$qr-pixels: 21;

.main {
  min-height: 100vh;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 0;
  background: #22112a;

  svg, canvas {
    outline: $qr-scale solid #af0;
  }

  span {
    font-family: monospace;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    text-decoration: none;

    background: #af0;
    color: #22112a;

    margin: 0;
    padding: 0;
    margin-top: calc($qr-scale * ($qr-pixels / 2 - 2));
    margin-left: calc($qr-scale * ($qr-pixels / 2 - 7));
    position: absolute;

    width: calc(14px * 7);
    height: calc(14px * 3);
    line-height: calc(14px * 3);
    top: 50%;
    left: 50%;
  }
}
